html
    head
        link(rel="stylesheet" href="/public/style.css")
    body
        h1 bt tk
        input(type="text")
        input(type="password")
        button("btnStart") start
        div
            h2 rank
            ol
                li adfadf
                li zzz
                li sdfvv
                li sdfjair4ijf
